:root{
    --primary-color: #0E1A89;
    --button-color: #1C2CC3;
    --text-color: #1C2CC3;
}
.bg-gradient-dark-blue{
    background-color: var(--primary-color);
}
.text-dark-blue{
    color: var(--text-color);
}
.btn.btn-dark-blue{
    background-color: var(--button-color);
    color: white;
}
.badge.badge-primary{
    background-color: var(--text-color);
}
